<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <display-name>Insert_Data_Items</display-name>
        <servlet-name>Insert_Data_Items</servlet-name>
        <servlet-class>ALL_IN_ONE.Insert_Data_Items</servlet-class>
    </servlet>
    <servlet>
        <display-name>DisplayData</display-name>
        <servlet-name>DisplayData</servlet-name>
        <servlet-class>ALL_IN_ONE.DisplayData</servlet-class>
    </servlet>
    <servlet>
        <display-name>EditRecord</display-name>
        <servlet-name>EditRecord</servlet-name>
        <servlet-class>ALL_IN_ONE.EditRecord</servlet-class>
    </servlet>
    <servlet>
        <display-name>UpdateData</display-name>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>ALL_IN_ONE.UpdateData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insert_Data_Items</servlet-name>
        <url-pattern>/Insert_Data_Items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayData</servlet-name>
        <url-pattern>/DisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecord</servlet-name>
        <url-pattern>/EditRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Main.jsp
        </welcome-file>
        <welcome-file>
            InsertRecord_Items.jsp
        </welcome-file>
        <welcome-file>
            error.jsp
        </welcome-file>
        <welcome-file>
            DisplayRecord.jsp
        </welcome-file>
        <welcome-file>
            EditData.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
